body{
  text-align: center;
  -webkit-animation: fadeIn 1s ease;
  -moz-animation: fadeIn 1s ease;
  -ms-animation: fadeIn 1s ease;
  -o-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
  opacity: 1;
}

@-webkit-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-ms-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-o-keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
